
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

http:
  base_url: !secret base_url
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

zwave:
  # Forwarded from host/hypervisor
  # through Proxmox
  usb_path: /dev/ttyACM0

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate


# The company car
volkswagencarnet:
    username: !secret vw_carnet_user
    password: !secret vw_carnet_pass
    scan_interval:
        minutes: 2
    name: !include vw_vins.yaml


# Apartment door
verisure:
  username: !secret verisure_user
  password: !secret verisure_pass
  locks: true
  code_digits: 6
  alarm: false

# Xiaomi Roborock S55
vacuum:
  - platform: xiaomi_miio
    host: 10.1.1.40
    token: !secret xiaomi_roborock_token

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
light: !include lights.yaml
